<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fx.secondbar">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.FxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icons"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.AcTransilate"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.mall.AcMallDetail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.search.AcSearch"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.quote.AcQuoteDetail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.purchase.AcQuoteBuyConfirm"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.purchase.AcPurchaseOrderDetail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.AcAccountSet"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.aboutus.AcAboutUs"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.order.AcOrderManage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.purchase.AcMyPurchase"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.assets.AcAssets"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.assets.AcAssetDetail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.assets.AcIncomeRecord"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.assets.AcRecharge"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.assets.AcWithdraw"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.assets.AcVerified"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.assets.AcAddBankCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.assets.AcSelectBank"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.assets.AcMyBankCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.AcBindPhone"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.AcBindPayPwd"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.AcInputPayPwd"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.purchase.AcPurchaseDetail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.AcWebBrowse"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.AcSetNickName"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.notify.AcNotifyManager"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.notify.AcMessageList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.notify.AcMessageDetail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.AcShareDialog"
            android:theme="@style/myTransparent"/>
        <activity
            android:name=".ui.home.AcTutorialDetail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.AcInformationDetail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.AcLevelList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.AcTodayIncome"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.AcInviteFriends"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.AcLeaderboard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.person.aboutus.AcCustomer"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1107845568"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"/>

        <receiver
            android:name=".receive.JPushReceive"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.hk.frj.advisory"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
    </application>

</manifest>